<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Name>Phone Audio Link</Name>
    <Version>1.1</Version>
    <Title> Phone Audio Link Installer</Title>
    <Publisher>Polymorphic Agent</Publisher>
    <TargetDir>@HomeDir@/AppData/Roaming/PolymorphicAgent/PhoneAudioLink</TargetDir>
    <InstallerWindowIcon>logo.png</InstallerWindowIcon>
    <InstallerApplicationIcon>icon.ico</InstallerApplicationIcon>
    <RunProgram>@TargetDir@/PhoneAudioLink.exe</RunProgram>
    <RunProgramDescription>Run PhoneAudioLink</RunProgramDescription>
    <StartMenuDir>Phone Audio Link</StartMenuDir>
    <MaintenanceToolName>MaintenanceTool</MaintenanceToolName>
    <AllowNonAsciiCharacters>true</AllowNonAsciiCharacters>
    <StyleSheet>style.qss</StyleSheet>

    <RemoteRepositories>
        <Repository>
                <Url>https://repo.polimorph.dev/PhoneAudioLink/</Url>
                <Enabled>1</Enabled>
                <DisplayName>PolymorphicAgent's Repository</DisplayName>
        </Repository>
    </RemoteRepositories>
</Installer>